.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .header_wrap {
        position: relative;
        max-width: 1300px;
        margin: 26px auto 0;
        height: 32px;
    }
}

.header_title_wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.header_img {
    width: 100%;
}

.menu_list {
    position: absolute;
    top: 0;
    left: 489px;
    display: flex;
    width: 323px;
    justify-content: space-around;
}

.menu_bar_wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

}

.console_wrap {
    font-size: 14px;
    line-height: 22px;
    background-color: #00b2ff;
    width: 100px;
    height: 32px;
    border-radius: 6px;
    margin-left: 10px;
    color: #fff;

    .console_img {

        margin-top: 4px;
    }
}

/*
.language_wrap {
    position: absolute;
    top: 0;
    right: 42px;
    background-color: #fff;
    width: 54px;
    height: 32px;
    border-radius: 6px;
}
*/
.menu_wrap {
    margin-left: 10px;
}