.header {
    position: relative;
}

.header_img {
    width: 100%;
}

.header_contents_wrap {
    max-width: 1300px;
    margin: 0 auto;

    .header_title_wrap {
        position: absolute;
        top: 29px;
        left: 24px;
    }

    .menu_wrap {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 6px;
    }

    .header_text_wrap {
        position: absolute;
        bottom: 37px;
        left: 0;
        right: 91px;
        font-size: 80px;
    }

    .background_pagenation_wrap {
        position: absolute;
        bottom: 35px;
        left: 24px;
        display: flex;

        .background_pagenation {
            width: 10px;
            height: 10px;
            opacity: 0.2;
            border-radius: 2px;
            border: solid 1px #fff;
            margin-left: 5px;

            &[aria-selected=true] {
                opacity: 1;
                background-color: #fff;
            }
        }
    }
}