.introducepartners {
  .content_area {
    padding: 50px 24px 80px;
  }

  .select_area {
    position: relative;

    .selected_btn {
      position: relative;
      width: 100%;
      background-color: #fff;
      border-radius: 6px;
      height: 32px;
      color: #000;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      padding-left: 12px;

      &:after {
        position: absolute;
        top: 9px;
        right: 13px;
        width: 16px;
        height: 16px;
        background-image: url('/static/img/common/svg/black_down_right_arrow.svg');
        content: '';
        background-repeat: no-repeat;
      }

      &[aria-expanded=true] {
        background-color: #fff;

        &:after {
          background-image: url('/static/img/common/svg/black_up_right_arrow.svg');
        }
      }
    }

    .cooperation_corp_wrap {
      position: absolute;
      padding: 8px 0 14px;
      top: 27px;
      width: 100%;
      background-color: #fff;
      z-index: 2;

      .cooperation_corp_link {
        width: 100%;
        color: #000;
        padding: 10px 0 0 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
        text-align: left;
      }
    }
  }

  .tab_list {
    margin-top: 27px;

    .title {
      font-size: 24px;
      line-height: 32px;
    }

    .content_set {
      margin-top: 36px;
    }

    .list+.list {
      margin-top: 20px;
    }

    .link {
      display: block;
    }

    .thumb {
      position: relative;
      padding-top: 75%;
      background-color: #fff;

      .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .description {
      margin-top: 22px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media (min-width: 1300px) {
  .introducepartners {
    .content_area {
      max-width: 1300px;
      margin: 0 auto;
    }

    .tag_select_area {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 -15px;

      .selected_btn {
        margin: 0 15px;
        padding-bottom: 9px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        border-bottom: 1px solid #2f2f2f;
        flex-grow: 1;
        text-align: left;

        &[aria-selected=true] {
          border-color: #fff;
        }
      }
    }

    .tab_list {
      margin-top: 38px;

      .title {
        font-size: 40px;
        line-height: 50px;
      }

      .content_set {
        display: flex;
        margin: 0 -25px;
      }

      .list {
        width: 33.33%;
        margin-top: 40px;

        &+.list {
          margin-top: 40px;
        }
      }

      .link {
        margin: 0 25px;
      }
    }
  }
}