.introducepartners {
  .content_area {
    padding: 50px 24px 80px;
  }

  .select_area {
    .selected_btn {
      position: relative;
      width: 100%;
      padding: 4px 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      text-align: left;

      &:after {
        position: absolute;
        top: 9px;
        right: 0;
        width: 11px;
        height: 12px;
        background-image: url('/assets/img/common/svg/ico_arrow_down.svg');
        content: '';
      }
    }
  }

  .tab_list {
    margin-top: 27px;

    .title {
      font-size: 24px;
      line-height: 32px;
    }

    .content_set {
      margin-top: 36px;
    }

    .list+.list {
      margin-top: 20px;
    }

    .link {
      display: block;
    }

    .thumb {
      position: relative;
      padding-top: 75%;
      background-color: #fff;

      .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .description {
      margin-top: 22px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media (min-width: 1300px) {
  .introducepartners {
    .content_area {
      max-width: 1300px;
      margin: 0 auto;
    }

    .tag_select_area {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 -15px;

      .selected_btn {
        margin: 0 15px;
        padding-bottom: 9px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        border-bottom: 1px solid #2f2f2f;
        flex-grow: 1;
        text-align: left;

        &[aria-selected=true] {
          border-color: #fff;
        }
      }
    }

    .tab_list {
      margin-top: 38px;

      .title {
        font-size: 40px;
        line-height: 50px;
      }

      .content_set {
        display: flex;
        margin: 0 -25px;
      }

      .list {
        width: 33.33%;
        margin-top: 40px;

        &+.list {
          margin-top: 40px;
        }
      }

      .link {
        margin: 0 25px;
      }
    }
  }
}