.introduce_history {
  .history_content {
    padding: 20px 24px 40px;
  }

  .sticky_area {
    padding-top: 11px;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: #000;

      .list_set {
        padding: 0 24px;
      }
    }

    .list_set {
      display: flex;
    }

    .list {
      flex-grow: 1;

      &[aria-selected=true] .title {
        border-color: #fff;
      }

      &:nth-child(1) .btn {
        text-align: left;
      }

      &:nth-child(2) .btn {
        text-align: center;
      }

      &:nth-child(3) .btn {
        text-align: right;
      }

      .btn {
        width: 100%;
        color: #fff;
      }

      .title {
        display: block;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 7px;
        border-bottom: 1px solid #2f2f2f;
      }
    }
  }

  .content_1 {
     padding: 20px 0;

    .list {
      font-size: 16px;
      line-height: 22px;

      &+.list {
        margin-top: 20px;
      }
    }
  }

  .content_2 {
    margin: 0 -24px;

    .list {
      position: relative;

      &+.list {
        margin-top: 20px;
      }
    }
  }

  .content_3 {
    padding: 24px 0;

    .list+.list {
      margin-top: 30%;
    }
  }
}

@media (min-width: 1300px) {
  .history_content {
    max-width: 1300px;
    padding: 40px 0 100px;
    margin: 0 auto;

    .sticky_area {
      margin: 0 -15px;
      padding-bottom: 11px;

      .list {
        margin: 0 15px;

        .title {
          font-size: 24px;
          line-height: 32px;
        }

        .text {
          margin-top: 7px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .content_1 {
      padding: 80px 0 60px;

      .list {
        &+.list {
          margin-top: 60px;
        }
      }
    }

    .content_2 {
      margin: 0;
      text-align: center;

      .list {
        &+.list {
          margin-top: 60px;
        }
      }
    }

    .content_3 {
      position: relative;
      padding: 60px 0;
    }
  }
}