.info_wrap {
  margin: 50px 25px 0;

  .info_list_title {
    display: block;
    margin-top: 50px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
  }

  .info_list_wrap {
    margin-top: 20px;

    .info_list {
      margin-top: 12px;

      .info_title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
      }

      .info {
        display: block;
        margin-top: 8px;
        font-size: 16px;
        line-height: 22px;
        font-weight: normal;
        padding-bottom: 11px;
        border-bottom: 1px solid #484848;
      }
    }
  }
}

.corp_info_wrap {
  margin: 50px 0 86px;

  .corp_down_wrap {
    margin-top: 50px;

    .info_title {
      display: block;
      margin: 50px 25px 0;
      font-size: 24px;
      line-height: 34px;
      font-weight: 500;
    }

    .down_img {
      margin-top: 19px;
      width: 100%;
    }

    .down_link_wrap {
      margin: 25px 25px 0;

      .down_link {
        margin-top: 22px;
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;

        .down_link_img {
          margin-left: 12px;
        }
      }
    }
  }
}

.map_wrap {
  margin-top: 50px;
  width: 100%;
  height: 320px;
  background-color: #fff;
}

.map_title {
  display: block;
  margin: 50px 25px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.info_wrap {
  margin: 20px 25px 85px;

  .info_list_title {
    display: block;
    margin-top: 50px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  .info_list_wrap {
    margin-top: 20px;

    .info_list {
      margin-top: 12px;
    }

    .info_title {
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
    }

    .info {
      display: block;
      margin-top: 8px;
      font-size: 16px;
      line-height: 22px;
      font-weight: normal;
      padding-bottom: 11px;
      border-bottom: 1px solid #484848;
      word-break: keep-all;
    }
  }
}

@media (min-width: 1300px) {
  .contents_wrap {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
  }

  .info_wrap {
    margin: 100px 0 0 0;

    .info_list_title {
      margin-top: 60.8px;
    }

    .info_list_wrap {
      margin-top: 20px;

      .info_list {
        margin-top: 12px;
        display: flex;

        .info_title {
          width: 325px;
          padding-bottom: 11px;
          border-bottom: 1px solid #484848;
        }

        .info {
          width: 943px;
          margin: 0 0 0 32px;

        }
      }
    }
  }

  .corp_info_wrap {
    margin: 60.8px -32px 100.3px;
    display: flex;

    .corp_down_wrap {
      margin: 0 32px;
      width: 50%;
      position: relative;

      .info_title {
        margin: 0;
      }

      .down_img {
        margin-top: 18.8px;
      }

      .down_link_wrap {
        margin: 0;
        position: absolute;
        bottom: 31.7px;
        left: 0;
        ;
        display: flex;

        .down_link {
          margin: 0 0 0 30px;
        }
      }
    }
  }

  .map_wrap {
    margin-top: 154px;
  }

  .map_title {
    position: absolute;
    top: -50px;
    left: 0;
    margin: 0;
  }

  .info_wrap {
    margin: 0;

    .info_list_title {
      margin-top: 18px;
    }

    .idc_title {
      margin-top: 33px;
    }

    .info_list_wrap {
      .info_list {
        display: flex;
        margin-top: 20px;
      }

      .info_title {
        width: 325px;
        padding-bottom: 11px;
        border-bottom: 1px solid #484848;
      }

      .info {
        width: 943px;
        margin: 0 0 0 32px;

      }
    }
  }
}