.banner {
  position: relative;

  .banner_img {
    width: 100%;
  }

  .banner_text_wrap {
    position: absolute;
    bottom: 59px;
    left: 24px;
    right: 91px;
    font-size: 24px;
    font-weight: 500;
    word-break: keep-all;
  }

  .background_pagenation_wrap {
    position: absolute;
    bottom: 35px;
    left: 24px;
    display: flex;

    .background_pagenation {
      width: 10px;
      height: 10px;
      opacity: 0.2;
      border-radius: 2px;
      border: solid 1px #fff;
      margin-left: 5px;

      &[aria-selected=true] {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
}

.connect_wrap {
  position: relative;

  .connect_text {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
  }

  .connect_area {
    .connect_img_wrap {
      position: relative;
      display: none;

      .connect_img {
        width: 100%;
      }

      .connect_title {
        position: absolute;
        bottom: 24px;
        left: 24px;
        font-size: 24px;
        font-weight: 500;
      }
    }

    :nth-child(1) {
      display: block;
    }
  }
}

.kt_cloud_learn_wrap {
  padding: 24px 24px 43px;
  background-color: #00080f;

  .learn_text {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;

  }

  .learn_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 24px;
    line-height: 24px;

    &:before {
      position: absolute;
      top: 0;
      right: -36px;
      width: 24px;
      height: 24px;
      content: '';
      background-image: url('./assets/img/common/svg/btn-link.svg');
      background-size: contain;
    }
  }
}

.idc_service_wrap {
  position: relative;
  width: 100%;

  .idc_service_img {
    width: 100%;
  }

  .idc_service_title {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .idc_service_sub_title {
    position: absolute;
    top: 70px;
    left: 24px;
    right: 108px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  .idc_service_link {
    position: absolute;
    top: 148px;
    left: 24px;
  }

  .idc_service_text {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 80px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    word-break: keep-all;
  }

  .background_pagenation_wrap {
    position: absolute;
    top: 32px;
    right: 24px;
    display: flex;

    .background_pagenation {
      width: 10px;
      height: 10px;
      opacity: 0.2;
      border-radius: 2px;
      border: solid 1px #fff;
      margin-left: 5px;

      &[aria-selected=true] {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
}

.main_contents_wrap {
  margin: 24px 0 85px;

  .kt_cloud_news {
    display: block;
    margin-left: 24px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
  }

  .news_wrap {
    margin: 24px 0 0 24px;
    display: flex;
    overflow: auto;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari, Opera*/
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .news_contents_wrap {
    margin-right: 10px;
    width: 220px;

    .news_img_wrap {
      .news_img {
        width: 220px;
      }
    }

    .news_title {
      margin-top: 10px;
      font-size: 16px;
      line-height: 22px;
    }

    .news_date {
      margin-top: 10px;
      font-size: 14px;
      line-height: 22px;
      color: #9e9e9e;
    }
  }

  .learn_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 24px 0 0 24px;
    line-height: 24px;

    &::before {
      position: absolute;
      top: 0;
      right: -36px;
      width: 24px;
      height: 24px;
      content: '';
      background-image: url('./assets/img/common/svg/btn-link.svg');
      background-size: contain;
    }
  }
}

@media (min-width: 1300px) {
  .banner {
    .banner_wrap {
      position: relative;
      max-width: 1300px;
      margin: 0 auto;
    }

    .event_link {
      position: absolute;
      bottom: 253px;
      left: 0px;
      font-size: 24px;

      .event_lmg {
        margin: 2px 0 0 10px;

      }
    }

    .banner_text_wrap {
      bottom: 37px;
      left: 0px;
      right: 500px;
      font-size: 80px;
      line-height: 98px;
    }

    .background_pagenation_wrap {
      bottom: 50px;
      left: auto;
      right: 0;
    }
  }

  .connect_wrap {
    position: relative;
    width: 1300px;
    margin: 135px auto;

    .connect_text {
      display: block;
      position: relative;
      width: 340px;
      font-size: 80px;
      line-height: 100px;
      top: auto;
      left: auto;
    }

    .connect_area {
      margin: 168px -25px 0;
      display: flex;

      .connect_img_wrap {
        display: block;
        width: 33.3%;
        margin: 0 25px;

        .connect_title {
          position: relative;
          display: block;
          margin-top: 20px;
          font-size: 16px;
          line-height: 22px;
          bottom: auto;
          left: auto;
        }
      }
    }
  }

  .kt_cloud_learn_wrap {
    position: absolute;
    top: 240px;
    left: 0;

    .learn_text {
      font-size: 24px;
      line-height: 34px;

    }
  }



  .idc_service_wrap {
    width: 1300px;
    height: 650px;
    margin: 0 auto;


    .idc_service_title {
      top: 100px;
      left: 100px;
      font-size: 24px;
      line-height: 32px;
    }

    .idc_service_sub_title {
      width: 300px;
      top: 152px;
      left: 100px;
      right: auto;
      font-size: 40px;
      line-height: 50px;
    }

    .idc_service_link {
      top: 527px;
      left: 100px;
      font-size: 16px;
      line-height: 22px;

      .idc_service_link_img {
        margin-left: 12px;
      }
    }

    .idc_service_text {
      bottom: 165px;
      left: 100px;
      right: 1000px;
    }

    .background_pagenation_wrap {
      display: none;
    }
  }

  .main_contents_wrap {
    width: 1300px;
    margin: 135px auto 140px;

    .kt_cloud_news {
      text-align: center;
      font-size: 40px;
      line-height: 52px;
      margin: 0;
    }

    .news_wrap {
      margin: 15px -25px 0;
      flex-wrap: wrap;
    }

    .news_contents_wrap {
      width: 33.3%;
      margin: 0;

      .contents_wrap {
        margin: 36px 25px 0;
      }

      .news_img_wrap {
        display: block;

        .news_img {
          width: 100%;
        }
      }

      .news_title {
        margin-top: 18px;
      }

      .news_date {
        margin-top: 2px;
      }
    }
  }
}