.main {
  color: #fff;
}

.header {
  position: relative;

  .header_img {
    width: 100%;
  }

  .header_title_wrap {
    position: absolute;
    top: 29px;
    left: 24px;
  }

  .menu_wrap {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 6px;
  }

  .header_text_wrap {
    position: absolute;
    bottom: 27px;
    left: 24px;
    right: 91px;
    font-size: 24px;
    word-break: keep-all;
  }

  .background_pagenation_wrap {
    position: absolute;
    bottom: 35px;
    right: 24px;
    display: flex;

    .background_pagenation {
      width: 10px;
      height: 10px;
      opacity: 0.2;
      border-radius: 2px;
      border: solid 1px #fff;
      margin-left: 5px;

      &[aria-selected=true] {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
}

.ture_cloud_wrap {
  position: relative;

  .ture_cloud_img {
    width: 100%;
  }

  .ture_cloud_text {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .ture_cloud_title {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 24px;
    font-weight: 500;
  }
}

.kt_cloud_learn_wrap {
  padding: 24px 24px 43px;
  background-color: #00080f;

  .learn_text {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;

  }

  .learn_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 24px;
    line-height: 24px;

    &::before {
      position: absolute;
      top: 0;
      right: -36px;
      content: '';
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: solid 1px #fff;
    }
  }
}

.idc_service_wrap {

  position: relative;
  width: 100%;

  .idc_service_img {
    width: 100%;
  }

  .idc_service_title {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 16px;
    font-weight: 500;
  }

  .idc_service_sub_title {
    position: absolute;
    top: 70px;
    left: 24px;
    right: 108px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  .idc_service_link {
    position: absolute;
    top: 148px;
    left: 24px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: solid 1px #fff;
  }

  .idc_service_text {
    position: absolute;
    bottom: 70px;
    left: 24px;
    right: 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    word-break: keep-all;
  }

  .background_pagenation_wrap {
    position: absolute;
    top: 32px;
    right: 24px;
    display: flex;

    .background_pagenation {
      width: 10px;
      height: 10px;
      opacity: 0.2;
      border-radius: 2px;
      border: solid 1px #fff;
      margin-left: 5px;

      &[aria-selected=true] {
        opacity: 1;
        background-color: #fff;
      }
    }
  }
}