:global(.flicking-pagination-bullet) {
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: 0.2;
  border-radius: 2px;
  border: solid 1px #fff;
  vertical-align: top;

  &:global(.flicking-pagination-bullet-active) {
    opacity: 1;
    background-color: #fff;
  }

  & + :global(.flicking-pagination-bullet) {
    margin-left: 5px;
  }
}
