.footer {
	margin: 0 24px;
	padding-bottom: 24px;

	.service_policy_wrap {
		.service_policy {
			display: block;
			margin-top: 14px;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
		}
	}
}

.company_wrap {
	margin-top: 29px;

	.company {
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
	}

	.company_info_wrap {
		margin-top: 8px;
		font-size: 14px;
		line-height: 22px;
		color: #5a5a5a;

		.company_info {
			display: block;
		}
	}
}

.company_name {
	margin-top: 22px;
}

.cooperation_company {
	display: inline-block;
	vertical-align: top;
	margin-top: 41.2px;
	width: 100%;
	position: relative;
	padding-bottom: 6px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;

	&::before {
		position: absolute;
		content: '';
		width: 11px;
		height: 13px;
		top: 0;
		right: 0;
		background-image: url('/assets/img/common/svg/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1400px) {

	.footer {
		width: 1300px;
		margin: 0 auto;
		padding-bottom: 40px;
		position: relative;

		.service_policy_wrap {
			display: flex;

			.service_policy {
				font-size: 16px;
				margin: 0;
			}

			:nth-child(2) {
				height: 16px;
				margin: 0 15px;
				padding: 0 15px;
				border-left: 1px solid #2c2c2c;
				border-right: 1px solid #2c2c2c;
			}
		}
	}

	.company_wrap {
		margin-top: 24px;

		.company_info_wrap {
			margin-top: 1px;
			display: flex;
			flex-wrap: wrap;
			width: 700px;

			:nth-child(2) {
				height: 16px;
				margin: 0 8px;
				padding: 0 8px;
				border-left: 1px solid #2c2c2c;
				border-right: 1px solid #2c2c2c;
			}

			:nth-child(5) {
				height: 16px;
				margin-left: 8px;
				padding-left: 8px;
				border-left: 1px solid #2c2c2c;

			}
		}
	}

	.company_name {
		margin: 0;
		position: absolute;
		right: 0;
		bottom: 40px;


		.company_logo {
			width: 120px;
			height: 30px;
		}
	}

	.cooperation_company {
		margin: 0;
		width: 140px;
		position: absolute;
		top: 0;
		right: 0;

		&::before {

			top: 0;
			right: 0;

		}
	}

}