.page_wrap {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 14px 24px;
	display: flex;
	justify-content: space-between;

	&.fixed {
		position: fixed;
		background-color: #000;

		.menu_wrap {
			background-image: url("/static/img/common/svg/white_menu_bar.svg");
		}
	}

	&.light {
		.header_title_wrap {
			background-image: url("/static/img/common/png/logo.png");
		}
	}

	.header_title_wrap {
		width: 90px;
		height: 22px;
		background-image: url("/static/img/common/png/logo_color.png");
	}

	.menu_wrap {
		width: 32px;
		height: 32px;
		border-radius: 6px;
		background-image: url("/static/img/common/svg/black_menu_bar.svg");
	}
}