.header {
	position: absolute;
	height: 57px;
	left: 0;
	right: 0;

	.header_title_wrap {
		position: absolute;
		top: 29px;
		left: 24px;
	}

	.menu_wrap {
		position: absolute;
		top: 24px;
		right: 24px;
		width: 32px;
		height: 32px;
		background-color: #fff;
		border-radius: 6px;
	}
}